@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
display:flex;
  flex-direction: column;
  margin: 9px;
}

img {
  width: 600px;
  display: flex;
  justify-content: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  flex: auto;

}
.header{
  display: flex;
  justify-content: space-between;


}

.left-links,.right-links{
  display: flex;
  gap: 18px;


}

a {
  color: inherit;
  text-underline: none;
  text-decoration: none;
}
ul{
  list-style-type: none;
  color: black;
  text-decoration: none;
}

.content{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-;
}


.footer{
  display: flex;
justify-content: space-between;
  margin-top: auto;
  background: #eee;

}

.buttons{
  display: flex;
  justify-content: center;
  gap: 18px



}